<div id="search-bar">

    <!-- 1. [ngModel] est un input de FormsModule -->
    <!-- 2. (ngModelChange) est un écouteur de changement de la balise <input/> provenant de FormsModule-->

    <!-- 3. [(ngModel)]="search" est une forme contracté/simplifié
          a. écouté le changement via (ngModel) qui est une forme contracté de ngModelChange
          b. (ngModel) renvoi $event
          c. $event est assigné au model search
          d. a chaque réaffectation du model "search" l'event du model search est déclenché
          f. quand l'event du model search est déclenché : il renvoi sa valeur dans le composant
          parent
          -->

    <input placeholder="Search..." [(ngModel)]="search">

    <!-- fais appel à la fonction  increaseCount() après chaque clique sur le bouton-->
    <button (click)="increaseCount()"><img src="img/search.png" alt=""></button>
</div>

<!-- affiche le contenu de la variable count -->
Click count : {{count}}
